@CHARSET "ISO-8859-1";


.filterSliderLabel{
	font-family: "Consolas",monospace;
	font-size: 16px;
}

#yearStart, #ratingStart{
	margin-right: 20px;
}

#yearEnd, #ratingStart, #ratingEnd{
	margin-left: 20px;
}

.rangeSlider{
	display:inline-block;width:200px;margin-rigth:20px;
}

#genreSelect{
	width:150px;
	height: 30px;
}