#{extends 'bmain.html' /}
#{set title:'WSTV Search' /}
#{set searchType: type /}
#{set thisQuery: q /}
#{set thisLang: qlang /}

<div class="box">
	#{list items:res.keySet(), as:'thisGroup'}

		<div>
		    <p class="oppener resultsSectionTitle">${thisGroup}</p>
		    <div class="resultsSectionBody visibilityToogleable">
		    	#{list items:res.get(thisGroup), as:'thisRow'}
		        	<p><a href="${thisRow.getPageHref()}">#{verbatim}${thisRow.getDisplayName()}#{/verbatim}</a></p>
		        #{/list}
		    </div>
		</div>
		
		<hr/>
	
	#{/list}
</div>
