#{extends 'bmain.html' /}
#{set title:'Home' /}

<div class="box" style="min-width: 250px; width: 25%; float: left;">
    <div class="title">Recomended</div>
    <div class="content">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
	            #{list items:recomended, as:'series'}
	                <a href="title?id=${series.getId()}"><img src="${series.getPoster()}" alt="#{verbatim}${series.getTitle()}#{/verbatim}" title="#{verbatim}${series.getTitle()}#{/verbatim}" /></a>
                #{/list}
            </div>
        </div>
    </div>
</div>

<div class="box" style="width: 65%; display: inline-block;">
	<div class="title">Index</div>
	<div class="content">
    	<div id="tabs">
			<ul>
				<li><a href="#tabs-1">Series</a></li>
				<li><a href="#tabs-2">Genres</a></li>
			    <li><a href="#tabs-3">Year</a></li>
				<li><a href="#tabs-4">Actors</a></li>
			    <li><a href="#tabs-5">Creators</a></li>
			    <li><a href="#tabs-6">Tags</a></li>
			</ul>
            <div id="tabs-1">
            	#{list items:allSeries, as:'thisSerie'}
	                <p><a href="title?id=${thisSerie.t}">#{verbatim}${thisSerie.k}#{/verbatim}</a></p>
                #{/list}
            </div>
            <div id="tabs-2">
	            #{list items:allGeneres, as:'thisGenere'}
	            	<p><a href="find?q=${('Genre ' + thisGenere).urlEncode()}">${thisGenere}</a></p>
	            #{/list}
            </div>
            <div id="tabs-3">
                #{list items:allYears, as:'thisYear'}
	            	<p><a href="find?q=${('year ' + thisYear).urlEncode()}">${thisYear}</a></p>
	            #{/list}
            </div>
            <div id="tabs-4">
	            #{list items:allActors, as:'thisActor'}
	                <p><a href="name?id=${thisActor.t}">#{verbatim}${thisActor.k}#{/verbatim}</a></p>
	            #{/list}
            </div>
            <div id="tabs-5">
	            #{list items:allCreators, as:'thisCreator'}
	                <p><a href="name?id=${thisCreator.t}">#{verbatim}${thisCreator.k}#{/verbatim}</a></p>
	            #{/list}
            </div>
            <div id="tabs-6">
            	#{list items:allTags, as:'thisTag'}
	                <p><a href="find?q=${('tag ' + thisTag).urlEncode()}">${thisTag}</a></p>
	            #{/list}
            </div>
		</div>
	</div>
</div>
         
         
<div style="height: 30px;clear: both;"></div>