#{extends 'bmain.html' /}
#{set title: person.getName() /}

<div class="box applyBolding">
	<p><span id="personName" class="title">#{verbatim}${person.getName()}#{/verbatim}</span></p>
	<div class="content">
	    <p><img src="${person.getPicture()}"/></p>
	    #{if !person.getDate_of_birth().equals("NOTFOUND")}<p>Date of birth: ${person.getDate_of_birth()}</p>#{/if} 
	</div>
</div>
            
<div class="box">
    <div class="title">Filmography</div>
    <div class="content">
        #{list items:person.getPersonSeries(), as:'thisSerie'}
        	<p><a href="title?id=${thisSerie.getId()}">#{verbatim}${thisSerie.getTitle()}#{/verbatim}</a></p>
        #{/list}
    </div>
</div>

#{if !person.getBio().equals("NOTFOUND")}            
	<div class="box">
		<div class="title">Bio</div>
	    <div class="content">
	    	<p class="fixUrls">#{verbatim}${person.getBio()}#{/verbatim}</p>
	    </div>
	</div>
#{/if}

<div class="box">
	<div class="title">Recomended</div>
	<!--div class="content recomendedContainer">
		#{list items:recomended, as:'series'}
        	<a href="title?id=${series.getId()}" class="recomendedItem"><img src="${series.getPoster()}" alt="#{verbatim}${series.getTitle()}#{/verbatim}" title="#{verbatim}${series.getTitle()}#{/verbatim}" /></a>
        #{/list}
	</div-->
	<div class="content jMyCarousel" style="height: 300px;">
		<ul>
			#{list items:recomended, as:'seriesItem'}
			<li>
				<div class="recomendedItem">
					<div class="recomendedItemOverlay">
						#{verbatim}<a href="title?id=${seriesItem.getId()}" class="title">${seriesItem.getTitle()}</a>#{/verbatim} <br/>
						<a class="metaInf small" href="find?q=year ${seriesItem.getYear()}">${seriesItem.getYear()}</a>
						<span class="metaInf small hideIfNotFound" style="margin-top: 3px;"> - ${seriesItem.getRating()}/10 from   
		${seriesItem.setNumberOfRatings()} users</span>
						<br/>
						<p class="removeLastComma overlayContainer">
						<span style="font-weight: bold;">Genres</span><br/>
							#{list items:seriesItem.getGenres(), as:'thisGenere'}
								 <a href="find?q=${('Genre ' + thisGenere).urlEncode()}">${thisGenere}</a><br/>
							#{/list}
						</p>
						<p class="removeLastComma overlayContainer" style="text-align: right;">
						<span style="font-weight: bold;">Stars</span><br/>
						#{verbatim}
							#{list items:seriesItem.getStars(), as:'thisActor'}
								 <a href="name?id=${thisActor.getId()}">${thisActor.getName()}</a><br/>
							#{/list}
						#{/verbatim}
						</p>
					</div>
					<img width="200" src="${seriesItem.getPoster()}" alt="#{verbatim}${seriesItem.getTitle()}#{/verbatim}" title="#{verbatim}${seriesItem.getTitle()}#{/verbatim}" />
				</div>
			</li>
			#{/list}
		</ul>
	</div>
</div>            