#{extends 'bmain.html' /}
#{set title:series.getTitle() /}

<div class="box applyBolding">
	<p>
		<span id="serieTitle" class="title">#{verbatim}${series.getTitle()}#{/verbatim}</span> <a
			class="metaInf small" href="find?q=year ${series.getYear()}">${series.getYear()}</a>
	</p>
	<div id="progressbar"></div>
	<p class="metaInf small hideIfNotFound" style="margin-top: 3px;">${series.getRating()}/10 from   
		${series.setNumberOfRatings()} users</p>
	#{if !series.getPoster().equals("NOTFOUND")}
		<p style="float: left; margin-right: 10px; margin-top: 0px;">
			<img
				src="${series.getPoster()}" alt="Image not available" />
		</p>
	#{/if}
	<p class="removeLastComma">
		Genres:
		#{list items:series.getGenres(), as:'thisGenere'}
			 <a href="find?q=${('Genre ' + thisGenere).urlEncode()}">${thisGenere}</a>,
		#{/list}
	</p>
	<p class="hideIfNotFound">Age Rating: #{verbatim}${series.getAge_rating()}#{/verbatim} </p>
	<p class="hideIfNotFound">#{verbatim}${series.getPlot()}#{/verbatim}</p>
	<p class="removeLastComma">
		Creators:
		#{verbatim}
			#{list items:series.getCreators(), as:'thisActor'}
				 <a href="name?id=${thisActor.getId()}">${thisActor.getName()}</a>,
			#{/list}
		#{/verbatim}
	</p>
	<p class="removeLastComma">
		Stars:
		#{verbatim} 
			#{list items:series.getStars(), as:'thisActor'}
				 <a href="name?id=${thisActor.getId()}">${thisActor.getName()}</a>,
			#{/list}
		#{/verbatim}
	</p>
	<p class="hideIfNotFound">Runtime: ${series.getRuntime()}</p>
	<p class="removeLastComma">Tags:
	#{verbatim} 
	#{list items:series.getPlotKeywords(), as:'thisKeyword'}
		<a href="find?q=tag ${thisKeyword}">${thisKeyword}</a>, 
	#{/list}
	#{/verbatim}
	</p>
	<p class="hideIfNotFound">Tagline: #{verbatim}${series.getTagline()}#{/verbatim}</p>
	<p class="hideIfNotFound">Country: #{verbatim}${series.getCoutry()}#{/verbatim}</p>
	<p class="hideIfNotFound">Language: #{verbatim}${series.getLanguage()}#{/verbatim}</p>

	<p></p>
</div>

<div class="box" style="clear: both;">
	<div class="title">Actors and chars</div>
	<div class="content">
		#{verbatim} 
		#{list items:actor2Char, as:'thisPair'}
			<p><a href="name?id=${thisPair.t.getId()}">${thisPair.t.getName()}</a> as <a href="character?id=${thisPair.k.getId()}" class="removeEndingCharacterString">${thisPair.k.getName()}</a></p>
		#{/list}
		#{/verbatim}
	</div>
</div>

<div class="box">
	<div class="title">Reviews (${series.getNumberOfReviews()})</div>
	<div class="content">
		#{list items:series.getReviews(), as:'thisReview'}
			<div class="reviewBox">
				<p class="oppener">
					<span class="reviewTitle">#{verbatim}${thisReview.get("ReviewTitle")}#{/verbatim}</span>,<span class="hideIfNotFound"> ${thisReview.get("ReviewRating")} Stars,</span> 
					${thisReview.get("PeopleFoundUsefull")} 
				</p>
				<div class="reviewBody visibilityToogleable" style="display: none;">
					<p>
						<span class="metaInf small">By <a>#{verbatim}${thisReview.get("WrittenBy")}#{/verbatim}</a>
							from #{verbatim}${thisReview.get("Localization")}#{/verbatim}, ${thisReview.get("Date")}</span>
					</p>
					<p>#{verbatim}${thisReview.get("TextReview")}#{/verbatim}</p>
				</div>
			</div>
		#{/list}
	</div>
</div>

<div class="box">
	<div class="title">Seasons and episodes</div>
	<div class="content">
		#{list items:series.getSeriesAndEps(), as:'thisSeason'}
			<div>
				<p class="seasonTitle oppener">Season ${thisSeason_index}</p>
				<div class="episodeListBox visibilityToogleable"
					style="display: none;">
					#{list items:thisSeason, as:'thisEp'}
						<div class="episodeBox">
							<p>
								<span>#{verbatim}${thisEp.get("EpisodeTitle")}#{/verbatim}</span> <span class="metaInf">${thisEp.get("AirDate")}</span>
							</p>
							<p>#{verbatim}${thisEp.get("EpisodeStoryline")}#{/verbatim}</p>
						</div>
						<hr />
					#{/list}
				</div>
			</div>
		#{/list}
	</div>
</div>

<script>
var lastInit = function(){
	$("#progressbar").progressbar({value: parseInt(parseFloat(${series.getRating()}) * 10)});
}
</script>

<div class="box">
	<div class="title"><a href="visual?id=${series.getId()}">Recomended</a></div>
	<!--div class="content recomendedContainer">
		#{list items:recomended, as:'series'}
        	<a href="title?id=${series.getId()}" class="recomendedItem"><img src="${series.getPoster()}" alt="#{verbatim}${series.getTitle()}#{/verbatim}" title="#{verbatim}${series.getTitle()}#{/verbatim}" /></a>
        #{/list}
	</div-->
	<div class="content jMyCarousel" style="height: 300px;">
		<ul>
			#{list items:recomended, as:'seriesItem'}
			<li>
				<div class="recomendedItem">
					<div class="recomendedItemOverlay">
						#{verbatim}<a href="title?id=${seriesItem.getId()}" class="title">${seriesItem.getTitle()}</a>#{/verbatim} <br/>
						<a class="metaInf small" href="find?q=year ${seriesItem.getYear()}">${seriesItem.getYear()}</a>
						<span class="metaInf small hideIfNotFound" style="margin-top: 3px;"> - ${seriesItem.getRating()}/10 from   
		${seriesItem.setNumberOfRatings()} users</span>
						<br/>
						<p class="removeLastComma overlayContainer">
						<span style="font-weight: bold;">Genres</span><br/>
							#{list items:seriesItem.getGenres(), as:'thisGenere'}
								 <a href="find?q=${('Genre ' + thisGenere).urlEncode()}">${thisGenere}</a><br/>
							#{/list}
						</p>
						<p class="removeLastComma overlayContainer" style="text-align: right;">
						<span style="font-weight: bold;">Stars</span><br/>
						#{verbatim}
							#{list items:seriesItem.getStars(), as:'thisActor'}
								 <a href="name?id=${thisActor.getId()}">${thisActor.getName()}</a><br/>
							#{/list}
						#{/verbatim}
						</p>
					</div>
					<img width="200" src="${seriesItem.getPoster()}" alt="#{verbatim}${seriesItem.getTitle()}#{/verbatim}" title="#{verbatim}${seriesItem.getTitle()}#{/verbatim}" />
				</div>
			</li>
			#{/list}
		</ul>
	</div>
</div>