#{extends 'bmain.html' /}
#{set title: 'Visual Navigator' /}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/visualNavStyles.css'}">

<div style="margin:20px;">
	<span id="yearStart" class="filterSliderLabel">1966</span><div id="sliderYear" class="rangeSlider"></div><span id="yearEnd" class="filterSliderLabel">2012</span>
	<span id="ratingStart" class="filterSliderLabel">1</span><div id="sliderRating" class="rangeSlider"></div><span id="ratingEnd" class="filterSliderLabel">10</span>
</div>

<div id="canvas" style="text-align: center;"></div>

<script type="text/javascript">
var filtersModule = (function(){
	var yearStart = $("#yearStart");
	var yearEnd = $("#yearEnd");
	var ratingStart = $("#ratingStart");
	var ratingEnd = $("#ratingEnd");
	var yearStartVal, yearEndVal, ratingStartVal, ratingEndVal;
	
	yearStartVal = 1966;
	yearEndVal = 2012;
	ratingStartVal = 1;
	ratingEndVal = 10;
	
	function refresh(){
		var query = "TVSeries year from "+yearStartVal+" to "+yearEndVal;
		query += " and rating from "+ratingStartVal+" to "+ratingEndVal;
		seriesGraphModule.setFilterQuery(query);
		seriesGraphModule.refresh();
	}
	
	$( "#sliderYear" ).slider({
		range: true,
		min: 1966,
		max: 2012,
		step: 1,
		values: [ 1966, 2012 ],
		slide: function( event, ui ) {
			yearStartVal = ui.values[ 0 ];
			yearEndVal = ui.values[ 1 ];
			
			yearStart.text(yearStartVal);
			yearEnd.text(yearEndVal);
			
			refresh();
		}
	});
	
	$( "#sliderRating" ).slider({
		range: true,
		min: 1,
		max: 10,
		step: 1,
		values: [ 1, 10 ],
		slide: function( event, ui ) {
			ratingStartVal = ui.values[ 0 ];
			ratingEndVal = ui.values[ 1 ];
			
			ratingStart.text(ratingStartVal);
			ratingEnd.text(ratingEndVal);
			
			refresh();
		}
	});
});

var seriesInfoModule = function(){
	var infoArr;
	
	$.ajax({
		  url: "vnibe",
		  data: {op:"ALLSERIESINFO"},
		  success: function(res){
				infoArr = jQuery.parseJSON(res);
			},
		  async: false
	});
	
	function img(id){
		return infoArr[id].img;
	}
	
	function title(id){
		return infoArr[id].title;
	}
	
	function year(id){
		return infoArr[id].year;
	}
	
	function rating(id){
		return infoArr[id].rating;
	}
	
	function genres(id){
		return infoArr[id].genres;
	}
	
	return {
		img:img,
		title:title,
		year:year,
		rating:rating,
		genres:genres
	}
}

var seriesGraphModule = (function(){
	var series, paper, target, pwidth, pheight, ciwidth, ciheight, xcenter, ycenter,
	filterQuery;
    
    function init(){
    	pwidth = 920;
    	pheight = 600;
    	ciwidth = 150;
    	ciheight = 225;
    	xcenter = pwidth/2;
    	ycenter = pheight/2;
    	
    	paper = Raphael("canvas", pwidth+100, pheight+100);
    	
    	reload({id:'${target.getId()}', img:info.img('${target.getId()}')}, eval(${jsonStr}));
    }
    
    function reload(t, s, keepThePoints){
    	series = s;
    	target = t;
    	//For placement consistency
    	Math.seedrandom(t.id);
    	
    	paper.clear();
        paper.rect(0, 0, 920, 600, 4).attr({fill: "#EEE", stroke: "none"});
        
        var ce = putAtTheCenter(target.img);
        putNeighbours(series, keepThePoints);
        ce.toFront();
    }
    
    function putAtTheCenter(imgUrl){
    	var e = paper.image(imgUrl, xcenter - ciwidth/2, ycenter - ciheight/2, ciwidth, ciheight);
    	e.id = target.id;
    	e.extraInfo = {};
    	e.click(function(){
    		var href = "title?id="+target.id;
    		window.open(href);
    	});
    	e[0].style.cursor = "pointer";
    	e.hover(displayExtraInfo, cleanExtraInfo);
    	return e;
    }
    
    function classf2Size(clsf){
    	var w = ciwidth * (clsf / 6);
    	var h = ciheight * (clsf / 6);
    	w = Math.max(w, 5);
    	h = Math.max(h, 5);
    	
    	return {width:w, height:h};
    }
    
    function classf2XY(clsf){
    	var x = Math.random() * (pwidth - ciwidth) + ciwidth/2;
    	var y = Math.random() * (pheight - ciheight) + ciheight/2;
    	return {x:x, y:y};
    }
    
    function calcDistance(x1,y1,x2,y2){
    	return Math.sqrt(Math.pow(x1 - x2,2) + Math.pow(y1 - y2,2));
    }
    
    function calcDistance2Center(x,y){
    	return calcDistance(xcenter, ycenter, x, y);
    }
    
    function isOnTopOfCentral(x,y){
    	var off = 50;
    	return (x > xcenter - ciwidth/2 - off && x < xcenter + ciwidth/2 + off && y > ycenter - ciheight/2 - off && y < ycenter + ciheight/2 + off);
    }
    
    function sort2center(a,b){
		return calcDistance2Center(b.x, b.y) - calcDistance2Center(a.x, a.y);
	}
    
    function anyPointClose(pArray, point){
    	var off = 60;
    	for(var i=0; i < pArray.length;i++){
    		if(calcDistance(pArray[i].x, pArray[i].y, point.x, point.y) < off)
    			return true;
    	}
    	
    	return false;
    }
    
    function genNeighboursPoints(n){
    	var pl = [],x,y,lastPoint, nIters;
    	
    	//Generate he points
    	for(var i=0; i < n;i++){
    		nIters = 0;
    		do{
	    		x = Math.random() * (pwidth - ciwidth) + ciwidth/2;
	        	y = Math.random() * (pheight - ciheight*0.7) + ciheight/4;
    		}while(nIters++ < 300 && (isOnTopOfCentral(x,y) || anyPointClose(pl, {x:x, y:y})));
        	pl[i] = {x:x, y:y};
    	}
    	
    	//Sort then
    	pl.sort(sort2center);
    	
    	return pl.reverse();
    }
    
    var tooltipTitleFontAttrs = {
    		'text-anchor': 'start', 
    		fill:'rgb(255,255,255)',
    		'font-weight':'bold'
	};
    var tooltipFontAttrs = {
    		'text-anchor': 'start', 
    		fill:'rgb(255,255,255)'
	};
    
    function displayExtraInfo(ev){
    	this.toFront();
    	
    	var bb = this.getBBox();
    	var bx = bb.x;
    	var height = 50;
    	var triHeight = 7;
    	var by = bb.y - height - triHeight;
    	
    	this.extraInfo.title = paper.text(bx + 5, by + 10, info.title(this.id)).attr(tooltipTitleFontAttrs);
    	
    	var otherInfoStr = info.year(this.id)+" - "+info.rating(this.id);
    	var genres = info.genres(this.id);
    	otherInfoStr += "\n";
    	var isFirstGenre = true;
    	for(var i=0; i < genres.length;i++){
    		if(!isFirstGenre)
    			otherInfoStr += ", ";
    		else
    			isFirstGenre = false;
    		otherInfoStr += genres[i];
    	}
    	this.extraInfo.otherInfo = paper.text(bx + 5, by + 17 + this.extraInfo.title.getBBox().height, otherInfoStr).attr(tooltipFontAttrs);
    	
    	var width = Math.max(this.extraInfo.title.getBBox().width + 10, 80);
    	width = Math.max(width, this.extraInfo.otherInfo.getBBox().width + 10);
    	
    	this.extraInfo.tooltipRect = paper.rect(bx, by, width, height).attr({fill:'rgb(0,0,0)'});
    	this.extraInfo.title.toFront();
    	this.extraInfo.otherInfo.toFront();
    	this.extraInfo.ttTriangle = paper.path("M"+bx+","+(by+height)+"L"+(bx)+","+(by + height + triHeight)+","+(bx+8)+","+(by+height)+"z").attr({fill:'rgb(0,0,0)'});
    	
    	
    }
    
    function cleanExtraInfo(ev){
    	for(var key in this.extraInfo){
    		if(this.extraInfo[key]!=undefined && this.extraInfo[key]!=null){
    			this.extraInfo[key].animate({opacity:0},200,'linear',function(){
    				this!=null && this.remove();
    			});
    			this.extraInfo[key]=undefined;
    		}
    	}
    }
    
    var neighboursPoints;
    
    //TODO: Permitir filtrar por outra coisa, tipo genre ou age rating
    function putNeighbours(nei, keepThePoints){
    	var points2use = genNeighboursPoints(nei.length);
    	
    	if(keepThePoints===false || keepThePoints==undefined){
    		neighboursPoints = {};
    	}
    	
    	for(var i=0; i < nei.length;i++){
    		var dim = classf2Size(nei[i].rank);
    		var pos;
    		if(keepThePoints===false || keepThePoints==undefined){
    			neighboursPoints[nei[i].id] = points2use[i];
    			pos = points2use[i];
    		}
    		else{
    			pos = neighboursPoints[nei[i].id];
    		}
    		
    		var io = paper.image(info.img(nei[i].id), pos.x, pos.y, dim.width, dim.height);
    		io.id = nei[i].id;
    		io.img = nei[i].img;
    		io[0].style.cursor = "pointer";
    		io.click(function(){
    			var newTarget = {id:this.id, img:info.img(this.id)};
    			jQuery.get("vnbe", {id:this.id}, function(res){
    				reload(newTarget, eval(res));
    			})
    		});
    		io.extraInfo = {};
    		io.hover(function(){
    			this.orinalDims = {width:this.attr('width'), height:this.attr('height')};
    			var w = 120;
    			var r =  w / this.attr('width');
    			var h = this.attr('height') * r;
    			
    			this.animate({width:w, height:h},100);
    		}, function(){
    			this.animate(this.orinalDims,100);
    		});
    		io.hover(displayExtraInfo, cleanExtraInfo);
    	}
    }
    
    function setFilterQuery(nq){
    	filterQuery = nq;
    }
    
    function refresh(){
    	var getParms = {id:target.id};
    	if(filterQuery!=undefined){
    		getParms.query = filterQuery;
    	}
    	
    	jQuery.get("vnbe", getParms , function(res){
    		var eres = eval(res);
    		
    		if(eres!=undefined){
				reload(target, eres, true);
    		}
		})
    }
    
    init();
    
    return {
    	setFilterQuery:setFilterQuery,
    	refresh:refresh
    };
});



var lastInit = function(){
	seriesInfoModule = seriesInfoModule();
	info = seriesInfoModule;
	seriesGraphModule = seriesGraphModule();
	filtersModule = filtersModule();
}
</script>